<%= render "backoffice/header" %>
<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>

  <div class="row">
    <div class="col-md-12">
      <h1 class="text-center">Área de serviços</h1>
      <p class="text-center">Nessa área você poder cadastrar, alterar ou excluir serviços</p>
    </div>
  </div>

  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th class="text-center">Descrição</th>
      <th class="text-center">Imagem</th>
      <th class="text-center">Preço</th>
      <th class="text-center">Remover</th>
      <th class="text-center">Editar</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'service', collection: @service %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Novo Serviço', new_service_path, class: 'btn btn-info' %>
  </div>
 </div>

<%= render "backoffice/background" %>