<%= render partial: 'backoffice/header' %>

<div class="row mt-5">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <div class="col-md-12">
    <h1 class="display text-center">Cadastrar novo Serviço</h1>
  </div>
  <div class="col-md-12 d-flex justify-content-center">
    <%= render partial: 'form', locals: { acao: 'Criar novo serviço' } %>
  </div>
</div>

<%= render partial: 'backoffice/background' %>

<%= render partial: 'backoffice/footer' %>