<%= render "backoffice/header" %>
<div class="container mt-4">
  <% if flash[:notice] %>
    <div class="alert alert-success" role="alert">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <table class="table table-bordered text-center">
    <thead>
    <tr>
      <th class="text-center">Email</th>
      <th class="text-center">Remover</th>
      <th class="text-center">Editar</th>
    </tr>
    </thead>
    <tbody>
    <%= render partial: 'users', collection: @users %>
    </tbody>
  </table>

  <div>
    <%= link_to 'Novo Usuário', new_user_path, class: 'btn btn-info' %>
  </div>
</div>

<%= render "backoffice/background" %>