<div class="container mt-3">
  <div class="row">
    <div class="offset-3 col-md-6 offset-3 d-flex justify-content-center">
      <%= form_for @schedule do |f| %>

        <div class="field form-group">
          <label>Nome do Dono</label>
          <%= f.text_field :owner_name, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>Email</label>
          <%= f.email_field :owner_email, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>Telefone</label>
          <%= f.text_field :phone, class: 'form-control', required: true%>
        </div>

        <div class="field form-group">
          <label>Data</label>
          <%= f.date_field :date, class: 'form-control', required: true %>
        </div>

        <div class="field form-group">
          <label>Hora</label>
          <%= f.time_field :hour, class: 'form-control', required: true %>
        </div>


          <%= f.hidden_field :service_id, value: params[:service], class: 'form-control' %>

        <div>
          <%= f.submit acao , class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
</div>

