<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1 class="text-center">O servico de <%= @schedule.service.name %> foi agendado com sucesso</h1>
<h3>Olá <%= @schedule.owner_name %> é com imenso prazer que viemos avisar que seu serviço de <%= @schedule.service.name %>
foi agendado com sucesso, obrigado pela preferência, confirme a data e hora do serviço e caso precise entre em contato conosco.</h3>
<h3 class="text-center">
  O serviço foi agendado para dia <%= @schedule.date.strftime("%d/%m/%Y") %> as <%= @schedule.hour %> horas
</h3>
<h3 class="text-center">
  O valor cobrado pelo serviço será R$ <%= @schedule.service.price %>
</h3>
<h3>Atenciosamente Equipe Pet's Dreams.</h3>
<h3>Telefone: (14) 9999-9999</h3>
<h3>Celulares: Vivo: (14) 99699-9999, Tim: (14) 99199-9999</h3>
<h3>Email: atendimento@petsdreams.com</h3>
<h2 class="text-center">A Pet's Dreams agradeçe pela preferência!</h2>
</body>
</html>

<style>
  .text-center {
    text-align: center;
  }
</style>